@import url("https://fonts.googleapis.com/css2?family=Angkor&family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(13, 17, 23);
}

#graph-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}

svg {
  position: absolute;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

circle {
  stroke: #ffffff;
  stroke-width: 0;
  cursor: pointer;
}

circle:hover {
  stroke: rgb(255, 13, 0);
  stroke-width: 2;
}

line {
  stroke: rgba(183, 180, 180, 0.457);
  stroke-width: 2;
}

line:hover {
  stroke: #12ec07;
  stroke-width: 2;
}
text {
  font-size: 20px;
  fill: #ffffff;
  pointer-events: none;
}

.tooltip {
  min-height: 40px;
  min-width: 50px;
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  background: #fff;
  border: 1px solid #ddd;
  pointer-events: none;
  visibility: hidden;
}

/* user card  */
.user-details-card {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(2, 2, 2);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 100px 10px rgba(235, 231, 231, 0.879);
  max-width: 300px;
  word-wrap: break-word;
  z-index: 5;
  visibility: hidden;
}

#user-details-card h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-bottom: 10px;
  color: white;
  background-color: transparent;
  letter-spacing: 2px;
  font-size: 22px;
}

#user-details-card p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin: 5px 0;
  color: white;
  background-color: transparent;
  letter-spacing: 2px;
}

#user-details-card {
  transition: background 0.3s ease;
}

#user-details-card:hover {
  background: rgba(55, 55, 55, 0.211);
}

#name {
  color: red !important;
}

.totalUser {
  margin: 20px 20px;
  color: white;
  display: inline-block;
}
